<h2>Panel de Usuarios</h2>
<p *ngIf="mensaje">{{ mensaje }}</p>

<!-- FORMULARIO PARA CREAR USUARIO -->
<div class="form-usuario">
    <h3>Registrar Nuevo Usuario</h3>
    <form (ngSubmit)="registrarUsuario()">
        <div class="form-group">
            <label>Nombre</label>
            <input type="text" [(ngModel)]="nuevoUsuario.nombre" name="nombre" required>
        </div>
        <div class="form-group">
            <label>DNI</label>
            <input type="text" [(ngModel)]="nuevoUsuario.dni" name="dni" required>
        </div>
        <div class="form-group">
            <label>Correo</label>
            <input type="email" [(ngModel)]="nuevoUsuario.correo" name="correo" required>
        </div>
        <div class="form-group">
            <label>Teléfono</label>
            <input type="text" [(ngModel)]="nuevoUsuario.telefono" name="telefono">
        </div>
        <div class="form-group">
            <label>Contraseña</label>
            <input type="password" [(ngModel)]="nuevoUsuario.contrasena" name="contrasena" required>
        </div>

        <button type="submit">Registrar Usuario</button>
    </form>
</div>

<!-- TABLA DE USUARIOS -->
 <h3>Lista de Usuarios</h3>
<table>
    
    <thead>
        <tr>
            <th>Nombre</th>
            <th>DNI</th>
            <th>Correo</th>
            <th>Rol</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let usuario of usuarios">
            <td>{{ usuario.nombre }}</td>
            <td>{{ usuario.dni }}</td>
            <td>{{ usuario.correo }}</td>
            <td>{{ usuario.rol }}</td>
            <td>
                <button *ngIf="usuario.rol !== 'ADMIN'" (click)="asignarAdmin(usuario)">
                    Hacer ADMIN
                </button>
            </td>
        </tr>
    </tbody>
</table>