#home h2{
    color: #0d6edf;
}

#home .shadow-sm:hover{
    transform: translateY(-5px);
    transition: 0.5s ease-in-out ;
    
}
.carousel-item img {
  height: 380px; /* Puedes aumentar o reducir */
  object-fit: cover;
  width: 100%;
  border-radius: 8px;
  
}
